.name,.hp,.mp,.str,.mag,.def,.res,.agi,.luck,.playerInfo,.enemyInfo,.playerLabels,.playerRawStats,.enemyLabels,.enemyRawStats,.createLabels,.createStats{
    display: inline-block;
}

.statMenu,.log,.magic {
    display: table-cell;
    vertical-align: top;
}

.statMenu {
    padding-left: 5px;
}

.gameScreen {
    display: table;
    table-layout: fixed;
    width: 1170px;/* 843 */
}

p {
    margin: 0;
    padding: 3px;
}

body {
    margin: auto;
    width:1100px;/* Change this to adjust screen alignment */
    padding-top: 5px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
}

.charCreateBody {
    width: 340px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.playerInfo,.enemyInfo {
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

.charCreate {
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
}

.menu {
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 5px;
    width: 420px;
    padding: 5px 5px 5px 7px;
}

.log {
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 5px;
    width: 400px;
    padding: 3px 0px 0px 5px;
    margin-left: 30px;
}

.magic {
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 5px;
    width: 300px;
    padding: 3px 0px 0px 5px;
    
}

.menuBtn {
    width: 100px;
    height: 30px;
    font-size: 15px;
}

.magicBtn {
    width: 140px;
    height: 30px;
    font-size: 15px;
}

.btnGroup {
    padding: 8px 5px 5px 5px;
}

input, button {
    background-color: black;
    color: white;
    border-radius: 3px;
}