.name,.hp,.mp,.str,.mag,.def,.res,.agi,.luck,.playerInfo,.enemyInfo,.playerLabels,.playerRawStats,.enemyLabels,.enemyRawStats{
    display: inline-block;
}

p {
    margin: 0;
    padding: 3px;
}

body {
    margin: auto;
    width:430px;
    padding-top: 5px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
}

.playerInfo,.enemyInfo {
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

.charCreate {
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
}

.menu {
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 5px;
    width: 420px;
    padding: 5px 5px 5px 7px;
}

.menuBtn {
    width: 100px;
    height: 30px;
    font-size: 15px;
}

input, button {
    background-color: black;
    color: white;
    border-radius: 3px;
}