<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="/public/js/angularActiveGame.js"></script>
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Browser RPG</title>
</head>
<body>
    <div class="gameScreen" ng-app="activeGame" ng-controller="activeGameCtrl">
        <div class="magic">
            <div class="btnGroup">
                <button class="magicBtn" ng-click="action('fire')" ng-disabled="disabled.magic">Fire {{gamedata.playerData.fireLvl}}: {{gamedata.playerData.fireMP}}MP</button>
                <button class="magicBtn" ng-click="action('cure')" ng-disabled="disabled.magic">Cure {{gamedata.playerData.cureLvl}}: {{gamedata.playerData.cureMP}}MP</button>
            </div>
            <div class="btnGroup">
                <button class="magicBtn" ng-click="action('protect')" ng-disabled="disabled.magic">Protect {{gamedata.playerData.protectLvl}}: {{gamedata.playerData.protectMP}}MP</button>
                <button class="magicBtn" ng-click="action('deprotect')" ng-disabled="disabled.magic">Deprotect {{gamedata.playerData.deprotectLvl}}: {{gamedata.playerData.deprotectMP}}MP</button>
            </div>
            <div class="btnGroup">
                <button class="magicBtn" ng-click="action('shell')" ng-disabled="disabled.magic">Shell {{gamedata.playerData.shellLvl}}: {{gamedata.playerData.shellMP}}MP</button>
                <button class="magicBtn" ng-click="action('deshell')" ng-disabled="disabled.magic">Deshell {{gamedata.playerData.deshellLvl}}: {{gamedata.playerData.deshellMP}}MP</button>
            </div>
            <div class="btnGroup">
                <button class="magicBtn" ng-click="action('bravery')" ng-disabled="disabled.magic">Bravery {{gamedata.playerData.braveryLvl}}: {{gamedata.playerData.braveryMP}}MP</button>
                <button class="magicBtn" ng-click="action('debrave')" ng-disabled="disabled.magic">Debrave {{gamedata.playerData.debraveLvl}}: {{gamedata.playerData.debraveMP}}MP</button>
            </div>
            <div class="btnGroup">
                <button class="magicBtn" ng-click="action('faith')" ng-disabled="disabled.magic">Faith {{gamedata.playerData.faithLvl}}: {{gamedata.playerData.faithMP}}MP</button>
                <button class="magicBtn" ng-click="action('defaith')" ng-disabled="disabled.magic">Defaith {{gamedata.playerData.defaithLvl}}: {{gamedata.playerData.defaithMP}}MP</button>
            </div>
            <div class="btnGroup">
                <button class="magicBtn" ng-click="action('haste')" ng-disabled="disabled.magic">Haste {{gamedata.playerData.hasteLvl}}: {{gamedata.playerData.hasteMP}}MP</button>
                <button class="magicBtn" ng-click="action('slow')" ng-disabled="disabled.magic">Slow {{gamedata.playerData.slowLvl}}: {{gamedata.playerData.slowMP}}MP</button>
            </div>
            <div class="btnGroup">
                <button class="magicBtn" ng-click="action('regen')" ng-disabled="disabled.magic">Regen {{gamedata.playerData.regenLvl}}: {{gamedata.playerData.regenMP}}MP</button>
                <button class="magicBtn" ng-click="action('poison')" ng-disabled="disabled.magic">Poison {{gamedata.playerData.poisonLvl}}: {{gamedata.playerData.poisonMP}}MP</button>
            </div>
        </div>
        <div class="statMenu">
            <div class="playerInfo">
                <div class="playerLabels">
                    <p>Name: </p>
                    <p>Level: </p>
                    <p>HP: </p>
                    <p>MP: </p>
                    <p>Str: </p>
                    <p>Mag: </p>
                    <p>Def: </p>
                    <p>Res: </p>
                    <p>Agi: </p>
                    <p>Luck: </p>
                </div>
                <div class="playerRawStats">
                    <p>{{gamedata.playerData.name}}</p>
                    <p>{{currPlayerStats.level}}</p>
                    <p ng-class="{'color-white': currPlayerStats.status.flux === 0, 'color-yellow': currPlayerStats.status.flux === 1, 'color-red': currPlayerStats.status.flux === -1}">{{currPlayerStats.HP}}</p>
                    <p>{{currPlayerStats.MP}}</p>
                    <p ng-class="{'color-white': currPlayerStats.status.str === 0, 'color-yellow': currPlayerStats.status.str === 1, 'color-red': currPlayerStats.status.str === -1}">{{currPlayerStats.str}}</p>
                    <p ng-class="{'color-white': currPlayerStats.status.mag === 0, 'color-yellow': currPlayerStats.status.mag === 1, 'color-red': currPlayerStats.status.mag === -1}">{{currPlayerStats.mag}}</p>
                    <p ng-class="{'color-white': currPlayerStats.status.def === 0, 'color-yellow': currPlayerStats.status.def === 1, 'color-red': currPlayerStats.status.def === -1}">{{currPlayerStats.def}}</p>
                    <p ng-class="{'color-white': currPlayerStats.status.res === 0, 'color-yellow': currPlayerStats.status.res === 1, 'color-red': currPlayerStats.status.res === -1}">{{currPlayerStats.res}}</p>
                    <p ng-class="{'color-white': currPlayerStats.status.agi === 0, 'color-yellow': currPlayerStats.status.agi === 1, 'color-red': currPlayerStats.status.agi === -1}">{{currPlayerStats.agi}}</p>
                    <p>{{currPlayerStats.luck}}</p>
                </div>
            </div>
            <div class="enemyInfo">
                <div class="enemyLabels">
                    <p>Name: </p>
                    <p>Level: </p>
                    <p>HP: </p>
                    <p>MP: </p>
                    <p>Str: </p>
                    <p>Mag: </p>
                    <p>Def: </p>
                    <p>Res: </p>
                    <p>Agi: </p>
                    <p>Luck: </p>
                </div>
                <div class="enemyRawStats">
                    <p>{{gamedata.enemyData.name}}</p>
                    <p>{{currEnemyStats.level}}</p>
                    <p ng-class="{'color-white': currEnemyStats.status.flux === 0, 'color-yellow': currEnemyStats.status.flux === 1, 'color-red': currEnemyStats.status.flux === -1}">{{currEnemyStats.HP}}</p>
                    <p>{{currEnemyStats.MP}}</p>
                    <p ng-class="{'color-white': currEnemyStats.status.str === 0, 'color-yellow': currEnemyStats.status.str === 1, 'color-red': currEnemyStats.status.str === -1}">{{currEnemyStats.str}}</p>
                    <p ng-class="{'color-white': currEnemyStats.status.mag === 0, 'color-yellow': currEnemyStats.status.mag === 1, 'color-red': currEnemyStats.status.mag === -1}">{{currEnemyStats.mag}}</p>
                    <p ng-class="{'color-white': currEnemyStats.status.def === 0, 'color-yellow': currEnemyStats.status.def === 1, 'color-red': currEnemyStats.status.def === -1}">{{currEnemyStats.def}}</p>
                    <p ng-class="{'color-white': currEnemyStats.status.res === 0, 'color-yellow': currEnemyStats.status.res === 1, 'color-red': currEnemyStats.status.res === -1}">{{currEnemyStats.res}}</p>
                    <p ng-class="{'color-white': currEnemyStats.status.agi === 0, 'color-yellow': currEnemyStats.status.agi === 1, 'color-red': currEnemyStats.status.agi === -1}">{{currEnemyStats.agi}}</p>
                    <p>{{currEnemyStats.luck}}</p>
                </div>
            </div>
            <div class="menu">
                <button class="menuBtn" ng-click="action('attack')" ng-disabled="disabled.attack">Attack</button>
                <button class="menuBtn" ng-click="action('defend')" ng-disabled="disabled.defend">Defend</button>
                <button class="menuBtn" ng-click="action('flee')" ng-disabled="disabled.flee">Flee</button>
                <button class="menuBtn" ng-click="action('skills')" ng-disabled="disabled.skills">Skills</button>
                <button class="menuBtn" ng-click="action('next')" ng-disabled="disabled.next">Next</button>
            </div>
        </div>
        <div class="log">
            <ul>
                <li ng-repeat="x in messages track by $index">{{x}}</li>
            </ul>
        </div>
    </div>
</body>
</html>